@model FormViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="Index">
    <label asp-for="ShapeId"></label>
    <select class="form-select" name="ShapeId" asp-for="ShapeId" asp-items="@(new SelectList(Model.Shapes,"Name","Name"))">
        <option></option>
    </select>
    <label asp-for="TypeId"></label>
    <select class="form-select" asp-for="TypeId" name="TypeId" asp-items="@(new SelectList(Model.Types,"Id","Name"))">
        <option></option>
    </select>
    <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary" />
    </div>
</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#ShapeId').on('change', function () {
                var ShapeId = $(this).val();
                var TypeId = $('#TypeId');
                TypeId.empty();
                TypeId.append('<option></option>');
                if (ShapeId != '') {
                    $.ajax({
                        url: '/Home/GetType?ShapeId=' + ShapeId,
                        success: function (type) {
                            $.each(type, function (i, type) {
                                TypeId.append($('<option></option>').attr('value', type.id).text(type.name));
                            });


                        },
                        error: function (type) {
                            alert("Something went wrong!");
                        }
                    });
                }
            });
        });
    </script>
}
