@model SOLID.Models._2DShapeModelView

@{
    ViewData["Title"] = "Triangle";
}

<h1>Triangle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Triangle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value1" class="control-label"></label>
                <input asp-for="Value1" class="form-control" />
                <span asp-validation-for="Value1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value2" class="control-label"></label>
                <input asp-for="Value2" class="form-control" />
                <span asp-validation-for="Value2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Result" class="btn btn-primary" />
            </div>
            
                <label asp-for="Result" class="control-label"></label>
            <input asp-for="@ViewData["Result"]" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
